/NEW_STRU/
/SYSLOG/
/usrdef/
/users/
/unpack/
/logs/

*.CDX
*.DBF
*.exe
*.DD
*.CFG
*.lst
*.nrp
history.prm
*.cnt
*.LCK
*.log
*.als
*.$ui
*.ocx
*.xls
*.als
*.GID
*.HLP
*.mail
Лог_запуска_отчетов.txt
/vetrf-repo/OUT/
gcomp.log
/Vetis/
/Vetis_IN/
1cv7.new.md
*.MD
ExtFrmsTree.ini
SubSystems.ini
*.zip
prepare_zip.bat
list_zip.txt
sonar.bat 
sonar_src 
sonar-project.properties 
.scannerwork 
push-post.sh 
push.bat