/NEW_STRU/
/SYSLOG/
/usrdef/
/users/
/unpack/
/logs/
*.mdp
*.frm
*.CDX
*.DBF
*.exe
*.DD
*.CFG
*.lst
*.nrp
history.prm
*.cnt
*.LCK
*.log
*.als
*.$ui
*.ini
*.ocx
*.xls
*.als
*.ord
*.GID
*.HLP
*.mail
*.ORD
Лог_запуска_отчетов.txt
ОбъектыМетаданных.txt
Структура.mdp
Форма.frm
*.mxl
*.txt
*.frm